.header {
  position: fixed;
  width: 100%;
  top: 3px;
  left: 0;
  z-index: 93;
  height: $header-height-large;
}

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $header-backgorund;
  z-index: 93;
}
.header__container {
  padding: 0 10px;
  height: 100%;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 95;
}

.header__burger {
  // position: relative;
}

@media (max-width: $breakpoint-medium) {
  .header {
    height: $header-height-small;
  }
}

.header__children-wrapper {
  width: 100%;
  height: calc(100vh - 63px);
  position: fixed;
  left: 0;
  top: 63px;

  @media (max-width: $breakpoint-medium) {
    height: calc(100vh - 53px);
    top: 53px;
  }
}
