.c-breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  @media (max-width: $breakpoint-extra-small) {
    position: relative;
    left: -10px;
  }
}

.c-breadcrumb__item {
  line-height: 2rem;
  font-size: 1rem;
  font-weight: 600;

  @media (max-width: $breakpoint-extra-small) {
    font-size: 0.6rem;
    line-height: 1rem;
  }
}

.c-breadcrumb__link {
  color: #1a8cff;

  &.active {
    color: $grey-text;
  }

  &:hover {
    color: #ff471a;
    text-decoration: underline;

    &.active {
      color: $grey-text;
      text-decoration: none;
      cursor: auto;
    }
  }
}

.c-bredcrumb___divider {
  margin: 0 10px;
  font-weight: 600;
  @media (max-width: $breakpoint-extra-small) {
    font-size: 0.5rem;
    line-height: 1rem;
    margin: 0 5px;
  }
}

.home__icon {
  height: 2rem;
  width: 2rem;

  path {
    fill: #1a8cff;
  }

  @media (max-width: $breakpoint-extra-small) {
    transform: scale(0.5) translate(0px, -13px);
  }
}

.breadcrumb__home {
  position: relative;
  display: inline;

  @media (max-width: $breakpoint-extra-small) {
    position: absolute;
    left: 5px;
  }

  &:hover {
    .home__icon {
      path {
        fill: #ff471a;
      }
    }

    &:after {
      content: '';
      width: 1.5rem;
      height: 1px;
      background: #ff471a;
      position: absolute;
      bottom: -2px;
      left: 2px;
      z-index: 150;

      @media (max-width: $breakpoint-extra-small) {
        width: 1rem;
        bottom: 15px;
        left: 6px;
      }
    }
  }
}
