/*-----null styles-----*/
@import './null.css';

@import './variables.scss';

@import './fonts.scss';

html,
body {
  height: 100%;
  font-family: 'CenturyGothic', 'Roboto', 'Nunito', Arial, Helvetica, sans-serif;
}

body {
  overflow: hidden;
}

body.lock {
  // overflow: hidden;
  padding-right: 17px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

.c-container {
  font-size: 18px;
  // font-family: 'CenturyGothic', 'Nunito', Arial, Helvetica, sans-serif;
  width: $breakpoint-extra-large;
  // border: 1px solid #000;
  margin: 0 auto;

  @media (max-width: $breakpoint-extra-large) {
    width: 100%;
  }
}

/*-----main scroll container-----*/
@import '../components/ScrollLayout/main.scss';

/*-----scrollSideMenu-----*/
@import '../components/ScrollSideMenu/main.scss';

/*-----Loading-----*/
@import './loading.scss';

/*-----Header-----*/
@import '../components/Header/main.scss';

/*-----Search-----*/
@import '../components/Search/main.scss';

/*-----BurgerMenu-----*/
@import '../components/BurgerButton/main.scss';

/*-----CatalogButton-----*/
@import '../components/CatalogButton/main.scss';

/*-----Logo-----*/
@import '../components/Logo/main.scss';

/*-----SideMenu-----*/
@import '../components/SideMenu/main.scss';

/*-----NavBar-----*/
@import '../components/NavBar/main.scss';

/*-----Menu-----*/
@import '../components/Menu/main.scss';

/*-----ItemMenu-----*/
@import '../components/ItemMenu/main.scss';

/*-----ProductsConteiner-----*/
@import '../components/ProductsConteiner/main.scss';

/*-----CategoryItem-----*/
@import '../components/Category/main.scss';
